body{
	margin: 10px;
	border: 2px solid;
	width: 100%;
	background-image: url('bg.jpg');
}

*{
	box-sizing: border-box;
}
nav {
  overflow: hidden;
  background-color: grey;
  display: block;
}

button{
	background-color: grey;
}
nav a {
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
  padding: 14px 16px;
}

nav a:hover {
  background-color: white;
}

h2 a{
	color:red;
}

.mainHeader {
  float: left;
  width: 100%;
  margin: 2px;
}

.mainContent {
  float: left;
  width: 70%;
  margin-right: 2%;
}

.topContent{
	float:left;
	border: 2px solid;
	width:100%;
	padding:5px;
	margin-bottom: 3px;
}

.bottomContent{
	float:left;
	border: 2px solid;
	width:100%;
	padding:5px;
	margin-bottom: 3px;
}

.top-sidebar{
	float:left;
	border: 2px solid;
	width:23%;
	
	height: fit-content;
	margin-right: 2%;
}

.middle-sidebar{
	float:left;
	border: 2px solid;
	width:23%;
	
	height: fit-content;
	margin-right: 2%;
}

.bottom-sidebar{
	float:left;
	border: 2px solid;
	width:23%;
	height: fit-content;
	margin-bottom: 3px;
}

.mainFooter{
  clear: both;
  overflow: hidden;
  background-color: grey;
  display: block;
  width: 100%;
  padding:5px;
  margin:2px;
}

.mainFooter a{
	color:red;
}

article{
	background-color: white;
}